@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap");

:root {
  --background: #e0e0e0;
  --foreground: #3c3c3c;
  --shadow-light: #ffffff;
  --shadow-dark: #bebebe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e0e0e0;
    --foreground: #3c3c3c;
    --shadow-light: #ffffff;
    --shadow-dark: #bebebe;
  }
}

@layer utilities {
  .shadow-neumorphic {
    box-shadow:
      4px 4px 8px var(--shadow-dark),
      -4px -4px 8px var(--shadow-light);
  }
  .shadow-neumorphic-inset {
    box-shadow:
      inset 2px 2px 5px var(--shadow-dark),
      inset -2px -2px 5px var(--shadow-light);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC",
    "Noto Sans Arabic", sans-serif;
}
